.AppHeader {
  height: 6rem;

  background: white;

  display: flex;
  align-items: center;

  padding: 0 7rem;

  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}

.AppHeader-Logo {
  width: 3rem;

  transition: all 0.2s ease-in-out;
}

.AppHeader-Logo:hover {
  opacity: 0.5;

  transform: scale(0.95);
}

.AppHeader-Credits {
  position: absolute;

  display: flex;

  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;

  top: 1rem;
  right: 1.5rem;

  background: linear-gradient(135deg, #38AEAEDE 0%, #28C297DE 100%);

  border-radius: 5px;

  padding: 2px 6px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.AppHeader-Credits:hover {
  transform: scale(1.05);

  opacity: 0.7;
}

.AppHeader-Credits > p {
  font-weight: 800;
  font-size: 0.8rem;

  margin-right: 0.2rem;

  color: #fff;
}

.AppHeader-Tabs {
  height: 100%;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  align-items: flex-end;

  margin: 0 auto;
}

.AppHeader-Tab,
.AppHeader-Tab-Active {
  width: 10rem;

  background: rgba(34, 34, 34, 0.1);

  margin: 0 0.7rem;
  padding: 0.5rem 0;

  display: flex;

  justify-content: center;
  align-items: center;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  position: relative;
}

.AppHeader-Tab:hover {
  padding: 0.7rem 0;

  opacity: 0.6;
}

.AppHeader-Tab > h1 {
  position: absolute;

  font-size: 0.7rem;

  top: -1.3rem;

  color: #22222277;
}

.AppHeader-Tab > p {
  color: #22222277;
}

.AppHeader-Tab > p,
.AppHeader-Tab-Active > p {
  font-weight: 600;
  font-size: 0.9rem;

  margin-left: 0.7rem;
}

.AppHeader-Tab-Active {
  padding: 0.7rem 0;

  background: linear-gradient(135deg, #CC2546 0%, #BF1499 100%);

  box-shadow: 0px -2px 3px 0px #CC254622;
}

.AppHeader-Tab-Active > p {
  color: white;
}

.AppHeader-SignOut {
  position: absolute;

  background: linear-gradient(135deg, #CC3C6BDE 0%, #D94444DE 100%);

  border-radius: 5px;

  padding: 2px 6px;

  top: 3.5rem;
  right: 1.5rem;

  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.AppHeader-SignOut:hover {
  opacity: 0.5;
}

.AppHeader-SignOut > p {
  font-weight: 800;
  font-size: 0.8rem;

  margin-left: 0.3rem;

  color: white;
}

@media only screen and (max-width: 1250px) {
  .AppHeader {
    padding: 0 2rem;
  }

  .AppHeader-Tab,
  .AppHeader-Tab-Active {
    width: fit-content;

    align-self: center;

    border-radius: 10px;

    padding: 1rem;
  }

  .AppHeader-Tab > h1  {
    font-size: 0.6rem;

    top: -0.9rem;
  }

  .AppHeader-Tab:hover {
    padding: 1rem;
  
    opacity: 0.6;
  }
}

@media only screen and (max-width: 975px) {
  .AppHeader-Tabs {
    margin: 0 0 0 2rem;
  }
  
  .AppHeader-Tab > p,
  .AppHeader-Tab-Active > p {
    display: none;
  }

  .AppHeader-Tab > h1  {
    display: none;
  }
}