.SignUp {
  width: 100%;
  height: 100vh;

  padding: 4rem 0;

  background: whitesmoke;

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.SignUp-Box {
  width: 30rem;

  border-radius: 30px;

  padding: 2rem 0rem;

  background: white;

  box-shadow: 0px 0px 7px 0px rgba(34, 34, 34, 0.1);

  text-align: center;
}

.SignUp-Box > h1 {
  color: rgb(34, 34, 34);

  font-size: 1.7rem;
}

.SignUp-Box > p {
  color: rgba(34, 34, 34, 0.5);

  font-size: 0.9rem;
  font-weight: 500;

  margin-top: 0.5rem;
}

.SignUp-Box-Inputs {
  margin: 3rem 2rem 0rem 2rem; 
}

.SignUp-Box-PasswordHints {
  margin-bottom: 1.5rem;

  display: flex;

  justify-content: flex-end;

  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
}

.SignUp-Logo {
  width: 4rem;

  margin-bottom: 3rem;
}

.SignUp-Box-Hint > p {
  font-weight: 500;
  font-size: 0.9rem;
}

.SignUp-Box-Hint > p > a {
  margin-left: 0.5rem;

  color: #CC2546;
}

@media only screen and (max-width: 600px) {
  .SignUp {
    justify-content: flex-start;

    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .SignUp-Box {
    width: 90vw;
  }
}